<p>reactive form</p>
<p>{{namee()}}</p>
<button (click)="changename()">check name</button>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="name" placeholder="Name" required>
  <!-- <span *ngIf="myForm.controls?.name.invalid">name is required</span> -->
  <input type="email" formControlName="email" placeholder="Email">
  <input type="password" formControlName="password" placeholder="password">
  <button type="button" (click)="addHobby()">add</button>
  
  <input type="submit" value="Submit">


  <div formArrayName="hobbies">
    <ng-container *ngFor="let hobby of formHobbies.controls; let i = index">
      <div [formGroupName]="i">
        <input type="text" formControlName="title" placeholder="Hobby">
        <input type="checkbox" formControlName="checked">
        <button type="button" (click)="remoeveHobby(i)">remove</button>
      </div>
     
    </ng-container>
  </div>
</form>



<div>
  <form #f="ngForm" (ngSubmit)="onSubmitt()">
    <div>
      <label for="name_">name
      </label>
      <input type="text" id="name_" name="name" ngModel  required names/>
      <!-- <span *ngIf="names.invalid">name is required</span> -->
    </div>
    <div>
      <label for="email__">email</label>
      <input type="email" id="email__" name="email" ngModel required #emails="ngModel"/>
      
      <span *ngIf="emails.invalid">email needded</span>
    </div>
    <button type="submit">temp submit</button>
  </form>
</div>

<app-person>
  
</app-person>
<app-order>
  <div>
    <h1>hello</h1>
    <p>name: {{name}}</p>
    <p>email: {{email}}</p>
    <p>password: {{password}}</p>
    <p>hobbies: {{hobbies}}</p>
  </div>
</app-order>

<button routerLinkActive="Active" 
[queryParams]="{part: 'navbar',search: 'about', year: 2021 }" 
  [fragment]='"hello"' routerLink="/route-one">one</button>
<button routerLinkActive="Activee" routerLink="/route-two">two</button>
<button routerLinkActive="Activeee" routerLink="/route-three/3">three</button>
<router-outlet></router-outlet>