<p>route-one works!</p>
<button routerLink="/route-two" appButtonChanger>route two</button>

<div>
    While implementing default route (path: ''), most of of the articles and blogs use 'pathMatch' with value 'full'. When I was implementing the same in my previous project, I simply copied it due to time constraint and it worked. With basic research, I understood, '' will match with other routes "always" and so that might create cyclic redirection if pathMatch: 'full' is not defined.ΩZ
</div>
<div id="hello">
    While implementing default route (path: ''), most of of the articles and blogs use 'pathMatch' with value 'full'. When I was implementing the same in my previous project, I simply copied it due to time constraint and it worked. With basic research, I understood, '' will match with other routes "always" and so that might create cyclic redirection if pathMatch: 'full' is not defined.ΩZ
</div>
<div>
    While implementing default route (path: ''), most of of the articles and blogs use 'pathMatch' with value 'full'. When I was implementing the same in my previous project, I simply copied it due to time constraint and it worked. With basic research, I understood, '' will match with other routes "always" and so that might create cyclic redirection if pathMatch: 'full' is not defined.ΩZ
</div>
<div>
    While implementing default route (path: ''), most of of the articles and blogs use 'pathMatch' with value 'full'. When I was implementing the same in my previous project, I simply copied it due to time constraint and it worked. With basic research, I understood, '' will match with other routes "always" and so that might create cyclic redirection if pathMatch: 'full' is not defined.ΩZ
</div>
<div>
    While implementing default route (path: ''), most of of the articles and blogs use 'pathMatch' with value 'full'. When I was implementing the same in my previous project, I simply copied it due to time constraint and it worked. With basic research, I understood, '' will match with other routes "always" and so that might create cyclic redirection if pathMatch: 'full' is not defined.ΩZ
</div>
<div id="hdello">
    While implementing default route (path: ''), most of of the articles and blogs use 'pathMatch' with value 'full'. When I was implementing the same in my previous project, I simply copied it due to time constraint and it worked. With basic research, I understood, '' will match with other routes "always" and so that might create cyclic redirection if pathMatch: 'full' is not defined.ΩZ
</div>
<div>
    While implementing default route (path: ''), most of of the articles and blogs use 'pathMatch' with value 'full'. When I was implementing the same in my previous project, I simply copied it due to time constraint and it worked. With basic research, I understood, '' will match with other routes "always" and so that might create cyclic redirection if pathMatch: 'full' is not defined.ΩZ
</div>