<form (ngSubmit)="submitForm()" [formGroup]="myForm">
    <div class="form-title">
        <p>Basic Form using Form Builder</p>
    </div>
    <div class="form-control">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
    </div>
    <div class="form-control">
        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email">
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
    </div>
    <div class="form-control">
        <label for="confirm-password">Password</label>
        <input type="password" id="confirm-password" formControlName="confirmPassword">
    </div>
    <div class="form-control">
        <button type="button" (click)="resetForm()">Reset</button>
        <button type="submit" [disabled]="myForm.invalid">Submit</button>
    </div>
</form>

<div class="json-result" *ngIf="formSubmitted">
    <p>Form Value:</p>
    <pre>{{ myForm.value | json }}</pre>
</div>

