<p>person works!</p>

<div>
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="name" (input)="captureName($event)"/>
</div>

<div>
    <label for="email">E mail</label>
    <input id="email" type="text" placeholder="email" (input)="captureEmail($event)"/>
</div>

<div>
    <label for="password">Password</label>
    <input id="password" type="text" placeholder="password" (input)="capturePassword($event)"/>
</div>

<div>
    <label for="hobby">Hobbies</label>
    <input id="hobby" type="text" placeholder="hobbies" (input)="captureHobby($event)"/>
</div>


<div>
    <button (click)="addAction()">Increase</button>
    <button (click)="lessAction()">decrease</button>
    <button (click)="resetAction()">reset</button>
    <!-- <button (click)="ownAction()">own</button> -->

    <input type="text" placeholder="enter your own value" (input)="ownAction($event)"/>
</div>