<p>route-fragment works!</p>

<div>
    <div id="home">
        <h2>Home</h2>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
    </div>
    <div id="about">
        <h2>About</h2>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
    </div>
    <div id="contact">
        <h2>Contact</h2>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
        <p>{{para}}</p>
    </div>
</div>