/* You can add global styles to this file, and also import other style files */
.main_container {
    background-color: #ededed;
        padding: 10px 30px;
}
.route_continer {
        padding: 10px 20px;
    border: 1px solid;
    p {
        margin: 0px;
        margin-bottom: 10px;
    }
    button {
        margin-right: 10px;
    }
    margin-bottom: 20px;
}