/* You can add global styles to this file, and also import other style files */
.child-container {
    background-color: lightblue;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}